/*:root {*/
/*    --floral-white: #FFFCF2;*/
/*    --dust-grey: #CCC5B9;*/
/*    --charcoal-brown: #403D39;*/
/*    --carbon-black: #252422;*/
/*    --spicy-paprika:#EB5E28;*/
/*}*/

.root-pane {
    -fx-background-color: linear-gradient(to bottom, #2a2927 0%, #252422 50%, #1f1e1c 100%);
    -fx-border-color: linear-gradient(to bottom, #3d3c3a 0%, #2a2927 100%);
}