.new-project-view {
    -fx-hgap: 50px;
    -fx-alignment: center;
    -fx-orientation: horizontal;
}

.new-project-view .data-form,
.new-project-view .props-form,
.new-project-view .template-form{
    -fx-padding: 26px;
    -fx-background-color: #1e1d1d;
    -fx-border-width: 2px;
    -fx-border-color: #121111;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-vgap: 14px;
    -fx-hgap: 14px;
}

.new-project-view .template-label {
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #CCC5B9;
}

.new-project-view .data-label {
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #CCC5B9;
}

.new-project-view .data-input {
    -fx-min-width: 250px;
    -fx-background-color: #1e1d1d;
    -fx-border-color: #EB5E28;
    -fx-font-size: 14px;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: #CCC5B9;
    -fx-border-radius: 3px;
    -fx-padding: 8px 4px;
}

#create-btn {
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Light";
    -fx-padding: 8px 16px;
    -fx-background-color: #1e1d1d;
    -fx-border-width: 1px;
    -fx-background-radius: 6px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-text-fill: #EB5E28;
    -fx-border-radius: 6px;
}

#create-btn:hover {
    -fx-background-color: #323030;
    -fx-cursor: hand;
}

.list-view {
    -fx-max-height: 300px;
    -fx-max-width: 150px;
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 8px;
    -fx-border-color: #444;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 0;
}

.list-view .viewport {
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10px 15px;
    -fx-border-color: transparent transparent #333 transparent;
    -fx-border-width: 0 0 1px 0;
}

.list-view .list-cell:filled {
    -fx-background-color: transparent;
    -fx-text-fill: #CCC5B9;
    -fx-font-size: 14px;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-cursor: hand;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: #EB5E28;
    -fx-text-fill: #252422;
}

.list-view .list-cell:filled:selected:hover {
    -fx-background-color: #fd7541;
}

.list-view .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view:focused .list-cell:filled:selected {
    -fx-background-color: #EB5E28;
}

.list-view:focused {
    -fx-background-color: #2a2a2a;
    -fx-background-insets: 0;
}
